<div class="home-container" #dropdownElement>
  <app-navbar></app-navbar>

  <div class="container-body">
    <form class="form-class" #locationForm="ngForm" (ngSubmit)="locationForm.valid && onSaveJourney(locationForm)">
      <div class="dropdown-parent">
        <div class="from-dropdown">
          <label for="uname"><b>From</b></label>
          <input type="text" list="from" [(ngModel)]="fromLocationValue" (focus)="fromKeyUp()"
            (change)="fromLocationChange()" class="input-field-from drop-from" placeholder="Option (Bangalore)"
            name="locationFrom" #locationFrom="ngModel" minlength="3" required />

          <div *ngIf="(locationFrom.dirty || locationFrom.invalid)">
            <div *ngIf="locationFrom?.errors?.required && locationForm.submitted" class="error-msg font-size4">
              Please select the starting point of journey.
            </div>
            <div *ngIf="locationFrom?.errors?.minlength" class="error-msg font-size4">
              Your journey point should be at least 3 character.
            </div>
          </div>

          <button class="button add font-size6" *ngIf="showAddFromButtonFlag" (click)="addNewLocationButton()">
            <img src="./../assets/logo/add.png" alt="">
            <p>Add New</p>
          </button>

          <div class="add-new-location" *ngIf="showInputFlag && showAddFromButtonFlag">
            <input type="text" class="new-location-input" name="newLocation" [(ngModel)]="newLocationValue"
              minlength="4" required>
            <div class="save" (click)="saveNewLocationEntry()"><img src="./../assets/logo/accept.png" alt="accept">
            </div>
            <div class="cancel" (click)="CancelNewLocationEntry()"><img src="./../assets/logo/cancel.jpg" alt="cancel">
            </div>
          </div>

          <datalist id="from">
            <option *ngFor="let list of locationArray" [value]="list.location">{{ list.location }}</option>
          </datalist>
        </div>

        <!-- end point dropdown start -->
        <div class="from-dropdown to-dropdown">
          <label for="uname"><b>To</b></label>
          <input type="text" list="to" [(ngModel)]="toLocationValue" (focus)="toKeyUp()" (change)="toLocationChange()"
            class="input-field-from drop-to" placeholder="Option (Delhi)" name="locationTo" #locationTo="ngModel"
            required />

          <div *ngIf="(locationTo.dirty || locationTo.invalid)">
            <div *ngIf="locationTo?.errors?.required && locationForm.submitted" class="error-msg font-size4">
              Please select the end point of your journey.
            </div>
            <div *ngIf="locationFrom?.errors?.minlength" class="error-msg font-size4">
              Your journey point should be at least 3 character.
            </div>
          </div>

          <button class="button add font-size6" *ngIf="showAddToButtonFlag" (click)="addNewLocationButton()">
            <img src="./../assets/logo/add.png" alt="">
            <p>Add New</p>
          </button>

          <div class="add-new-location" *ngIf="showInputFlag && showAddToButtonFlag">
            <input type="text" class="new-location-input" name="newLocation" [(ngModel)]="newLocationValue"
              minlength="4" required>
            <div class="save" (click)="saveNewLocationEntry()"><img src="./../assets/logo/accept.png" alt="accept">
            </div>
            <div class="cancel" (click)="CancelNewLocationEntry()"><img src="./../assets/logo/cancel.jpg" alt="cancel">
            </div>
          </div>

          <datalist id="to">
            <option *ngFor="let list of locationArray" [value]="list.location">{{ list.location }}</option>
          </datalist>
        </div>
      </div>

      <div class="list-container">
        <div class="list-body">
          <div class="total-travel-list" *ngFor="let list of saveFromJourneyArray; let i = index">
            <div class="jouney-location"><span>{{i+1}} --></span> {{list.location1}} ({{list.locationShotName1}}) --
              {{list.location2}}
              ({{list.locationShotName2}})</div>
          </div>
        </div>
        <button class="button-submit" type="submit">Save Journey</button>
      </div>
    </form>

    <div class="progress-bar-container">
      <div #progressBody class="progress-bar-body" *ngFor="let list of saveFromJourneyArray; let i = index">
        <div class="progress-status">
          <div class="point"></div>
          <div class="myprogress-bar"></div>
        </div>
        <p>{{list.locationShotName1}} - {{list.locationShotName2}}</p>
      </div>
    </div>
  </div>
</div>






<!-- <div class="input-field-parent">
                  <label for="uname"><b></b></label>
                  <input type="text" class="input-field disabled dobm" list="month" formControlName="month"
                    (change)="monthChange()" placeholder="JAN (Month)" [disabled]="isCheckDob() == 0" />
                  <datalist id="month">
                    <option *ngFor="let m of monthArray" [value]="m">{{ m }}</option>
                  </datalist>
                </div> -->